[credential]
	helper = store
[user]
	email = matej.ciglenecki@gmail.com
	matej = Matej
	name = Matej Ciglenečki
[alias]
	ignoreuntracked = git status -s | grep -e \"^??\" | grep -v \".gitignore\" | cut -c 4- >> .gitignore
	addu = add -u
[core]
	editor = code --wait
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
