# https://wiki.archlinux.org/title/KDE_Wallet#Using_the_KDE_Wallet_to_store_ssh_key_passphrases
[Desktop Entry]
Exec=ssh-add -q .ssh/id_rsa .ssh/id_rsa_bitbucket
Name=ssh-add
Type=Application
